//主色
$primaryColorBlue: #59B0E5;
$primaryColorPink: #E15F9F;
$primaryColorYellow: #FDBF2C;
$primaryColorGreen: #2FAD66;
$primaryColorNavy: #4060B1;
$primaryColorBrown: #693D18;
$primaryColorSkin: #EDA0A6;

//文字顏色
$mainTextColor: #000000;

//輸入框顏色
$inputColor: #f3f3f3;
$inputTextColor: #cccccc;
$inputHintColor: #a3a3a3;

//背景色
$bgColorWhite: #ffffff;
$bgColorGray: #E5E3E6;
