//主色
$primaryColorBlue: #59b0e5;
$primaryColorPink: #e15f9f;
$primaryColorYellow: #fdbf2c;
$primaryColorGreen: #2fad66;
$primaryColorNavy: #4060b1;
$primaryColorBrown: #693d18;
$primaryColorSkin: #eda0a6;

//文字顏色
$mainTextColor: #000000;

//輸入框顏色
$inputColor: #f3f3f3;
$inputTextColor: #cccccc;
$inputHintColor: #a3a3a3;

//背景色
$bgColorWhite: #ffffff;
$bgColorGray: #e5e3e6;

$colorSystem: (
  // 主色
  primaryColorBlue: #59b0e5,
  primaryColorPink: #e15f9f,
  primaryColorYellow: #fdbf2c,
  primaryColorGreen: #2fad66,
  primaryColorNavy: #4060b1,
  primaryColorBrown: #693d18,
  primaryColorSkin: #eda0a6,

  // 文字顏色
  mainTextColor: #000000,

  // 輸入框顏色
  inputColor: #f3f3f3,
  inputTextColor: #cccccc,
  inputHintColor: #a3a3a3,

  // 背景色
  bgColorWhite: #ffffff,
  bgColorGray: #e5e3e6
);
