// RWD 媒體查詢函式
@mixin only-mobile {
  @media (width < 480px) {
    @content;
  }
}

@mixin tablet {
  @media (width >=480px) {
    @content;
  }
}

@mixin desktop {
  @media (width >=1024px) {
    @content;
  }
}

@mixin btn-shadow{
  box-shadow: 5px 5px 5px rgba(0,0,0, .2);;
}

@mixin br-10{
  border-radius: 10px;
}
// 生成顏色 class 名稱: .color / .bg-color
@mixin generate-color-classes($colors) {
  @each $k, $v in $colors {
    .#{$k} {
      color: $v;
    }

    .bg-#{$k} {
      background-color: $v;
    }
  }
}
