.nav-wrap {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 100%;
    border-top: solid 4px $primaryColorBlue;
    background-color: $bgColorWhite;

    @media screen and (min-width:768px) {
        top: 50%;
        transform: translateY(-50%);
        right: 3%;
        bottom: auto;
        left: auto;
        width: auto;
        height: auto;
        border: none;
        @include br-10;
        box-shadow: 8px 8px 7px rgba(0, 0, 0, .2);
    }

    .nav-row {
        display: flex;
        justify-content: space-around;
        padding: 5px 0;
        @media screen and (min-width:768px) {
            flex-direction: column;
            padding: 0 10px;
        }

        .nav-icon {
            cursor: pointer;
            position: relative;

            .icon-wrap {
                display: inline-block;
                width: 50px;
                height: auto;
                aspect-ratio: 1/1;

                @media screen and (min-width:768px) {
                    margin: 10px 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    vertical-align: top;
                }
            }

            .submenu-wrap {
                position: absolute;
                z-index: 1000;
                bottom: 65px;
                left: 50%;
                transform: translateX(-50%);

                @media screen and (min-width:768px) {
                    top: 30px;
                    right: 65px;
                    bottom: 0;
                    left: auto;
                    transform: none;
                }

                .submenu-btn,.submenu-link {
                    display: block;
                    background-color: $primaryColorBlue;
                    color: $bgColorWhite;
                    border: solid 2px $bgColorWhite;
                    @include btn-shadow;
                    @include br-10;
                    padding: 5px 15px;
                    margin: 5px;
                    width: 75px;

                    &:hover {
                        background-color: $primaryColorNavy;
                    }
                }
                .submenu-link{
                    text-decoration: none;
                    text-align: center;
                }
            }

        }
    }
}

.addFile {
    position: relative;

    .addInput {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }
}
.sign-bg{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    cursor: pointer;
    .sign-modal {
        max-width: 360px;
        width: 100%;
        background-color: $primaryColorGreen;
        background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
        position: absolute;
        z-index: 10000;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -40%);
        @include br-10;
        .sign-close{
            position: absolute;
            z-index: 10001;
            top: 20px;
            right: 20px;
        }
    }
}

.sign-switch {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    font: $phFontH3 $font;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid $inputColor;
    @include br-10;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .switch-left,
    .switch-right {
        cursor: pointer;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
    }

    .switch-left {
        width: 3em;
        height: 2.5em;
        bottom: 0;
        left: .5em;
        background-color: $primaryColorBlue;
        color: $bgColorWhite;
    }

    .switch-right {
        background-color: $bgColorGray;
        color: $inputHintColor;
        width: 2.75em;
        height: 2.4em;
        bottom: .4em;
        right: .85em;
        transform: rotate(-15deg) skew(-15deg);
    }

    .switch-left::before,
    .switch-right::before {
        content: "";
        position: absolute;
        width: .43em;
        height: 2.4em;
        bottom: -0.4em;
    }

    .switch-left::before {
        transform: skewY(-63deg);
        left: -0.43em;
        background-color: transparent;
    }

    .switch-right::before {
        transform: skewY(63deg);
        right: -0.43em;
        background-color: $inputTextColor;
    }
}

.sign-switch::before {
    content: "";
    position: absolute;
    top: 0.5em;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $inputHintColor;
    border: .5em solid $inputColor;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
}

input:checked~.switch-left {
    background-color: $bgColorGray;
    color: $inputHintColor;
    width: 2.75em;
    height: 2.4em;
    bottom: .4em;
    left: .85em;
    transform: rotate(15deg) skew(15deg);
}

input:checked~.switch-left::before {
    background-color: $inputTextColor;
    transition: .2s;
}

input:checked~.switch-right {
    background-color: $primaryColorBlue;
    color: $bgColorWhite;
    width: 3em;
    height: 2.5em;
    bottom: 0px;
    right: .5em;
    transform: rotate(0deg) skew(0deg);
}

input:checked~.switch-right::before {
    background-color: transparent;
    transition: .2s;
}

.sign-outer {
    //max-width: 360px;
    width: 100%;
    overflow: hidden;
    .sign-row {
        width: 200%;
        display: flex;
        transition: transform 0.5s ease;
        .signin,
        .signup {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px;

            .sign-input {
                width: 83.333%;
                @include input-h50;
                padding-left: 20px;
                color: $primaryColorGreen;
            }

            ::placeholder {
                color: $inputHintColor;
            }
            .sign-btn {
                @include btn-primaryColorBlue;
                width: 83.333%;
            }
            .othersign-btn {
                @include btn-outline-primaryColorBlue;
                width: 83.333%;
            }
        }
    }
}
.sign-forget {
    color: $bgColorWhite;
}
.sign-forgrt-wrap,.sign-btn-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}