.member-basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    // height: 600px;
    .avatar-wrap {
        width: 50px;
        height: 50px;
        @include br-10;
        overflow: hidden;
        background-color: $bgColorWhite;
        img {
            vertical-align: top;
            width: 100%;
        }
    }
    span{
        color:$bgColorWhite;
    }
}

.member-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    position: relative;
    background: linear-gradient(116.53deg,
            rgba(255, 255, 255, 1) 57.54796862602234%,
            rgba(221, 221, 221, 1) 100%);
    border-radius: 21px;
    @include input-shadow;
}

.member-info::before {
    position: absolute;
    z-index: 9;
    content: "";
    width: 97.31%;
    background: linear-gradient(116.53deg,
            rgba(241, 241, 241, 1) 0%,
            rgba(255, 255, 255, 1) 36.000001430511475%);
    border-radius: 24px;
    right: 1.5%;
    left: 1.2%;
    bottom: 1.84%;
    top: 1.4%;
}

.input-wrap {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 5px;
    width: 83.333%;
    align-items: center;
    color: $mainTextColor;
    .member-input {
        width: 100%;
        outline: none;
        border: none;
        height: 50px;
        padding-left: 1em;
        &-modify {
            width: 100%;
            @include input-h50;
            padding-left: 1em;
            // color: $inputHintColor;
        }
    }
    ::placeholder{
        color: $mainTextColor;
    }

}

.editing-btn{
    cursor: pointer;
    outline: none;
    border: 2px dashed $primaryColorGreen;
    @include br-10;
    background-color: transparent;
    color: $primaryColorGreen;
    padding: 10px;
    margin: 0 10px;
    &:hover {
        background-color: $primaryColorGreen;
        color: $bgColorWhite;
    }
}