// 使用sass:math
@use "sass:math";

// 引入其他樣式
@import "./base/reset";
@import "./base/color";
@import "./base/font";

// 引入mixin
@import "./mixin/mixin";

@include generate-color-classes($colorSystem);

* {
  box-sizing: border-box;
}

:where(.css-dev-only-do-not-override-b92jn9).ant-btn-default:not(
    :disabled
  ):hover {
  color: #fff;
  background: #4096ff;
}
